*
!webssh/
!webssh/**
webssh/users.db
!portofolio/
!portofolio/**
!.gitignore
!README.md
!yolo/
!yolo/**
!diary/
!diary/**
diary/.env
diary/.venv/
diary/__pycache__/
diary/*.pyc
!VPNweb/
!VPNweb/**
VPNweb/.venv/
VPNweb/__pycache__/
doc.md
__pycache__/
